$cellSize: 15px;
$boardSize: 600px;
$cellBorder: inset gray 1px;

$color: orange;
$young : lighten($color, 30%);
$mature : lighten($color, 5%);
$old : darken($color,15%);

body{
  background-color: SlateGray;
}
.container{
  margin-top: 10px;
}
.cell-container{
}

.cell-board{
  height: $boardSize;
  width: $boardSize;
  div{
    height: $cellSize;
    width: $cellSize;
    float: left;
  }

}


.young{
  background-color: $young;
  border: $cellBorder;
}
.mature{
  background-color: $mature;
  border: $cellBorder;
}
.old{
  background-color: $old;
  border: $cellBorder;
}
.dead{
  background-color: black;
  border: $cellBorder;
}
